html {
    background-color: #fff;
    color: $gray;
    font-family: $main_font;
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 960px;
    padding: 0 1.5rem;
    margin: 4rem auto;
}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

h1,
h2 {
    line-height: 1;
}

h2 {
    color: $violet;
    font-size: 2rem;
    font-weight: $semibold;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.upcase-text {
    text-transform: uppercase;
}