.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero__main {
	flex: 1;
    &>* {
        margin-bottom: 2rem;
    }
}

.hero__side {
	display: none;
	flex: 1;
	@media #{$tablet} {
		display: block;
	}
}

.hero__title {
    color: $violet;
    font-size: 2.5rem;
    font-weight: $semibold;
    line-height: 1;
}

.hero__text {
	max-width: 90%;
}
