.product {
    display: flex;
    flex-basis: 250px;
    flex-flow: column wrap;
    margin-bottom: 1rem;
    &:last-child {
    	margin-bottom: 0;
    }
    @media #{$tablet} {
    	margin-bottom: 0;
    }
    padding: 1.5rem;
    transform-origin: center;
    transition: all 0.2s;
    will-change: transform;
    &:hover {
        transform: translateY(-15px);
        box-shadow: 0 30px 20px -5px #E0E0E0;
    }
}

.products__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media #{$tablet} {
        justify-content: space-between;
    }
}

.product__information {
    margin-top: 1.5rem;
    order: 1;
    &>* {
        margin-bottom: 1rem;
    }
}

.product__name {
    font-weight: $semibold;
}

.product__price {
    font-weight: $semibold;
    span {
        color: $light;
        font-size: 16px;
    }
}

.product__compare {
	i {
		margin-right: .5rem;
	}
}