@import 'variables';

.button {
    color: $violet;
    border: 2px solid $violet;
    border-radius: 4011992px;
    display: block;
    font-weight: $semibold;
    max-width: 10rem;
    padding: 1rem 2rem;
    text-align: center;
    will-change: transform;
    transform-origin: center;
    transition: all 0.2s;
    white-space: nowrap;
    &:hover {
        transform: translateY(-8px);
        color: $aqua;
        border: 2px solid $aqua;
    }
    &:active {
        transform: scale(0.95) translateY(2px);
    }
}

.button_primary {
    border: none;
    background-image: linear-gradient(-45deg, #4A20AF, #75EAFA);
    color: #fff;
    max-width: 12rem;
    padding: 1.5rem 3rem;
    &:hover {
        border: none;
        color: $aqua;
    }
}

.button_email {
    padding: 1.5rem 3rem;
    &:hover {
        color: #fff;
        border: 2px solid #fff;
    }
}