// COLORS
$aqua: #63EFFF;
$gray: #464855;
$light: lighten($gray, 40%);
$megalight: lighten($light, 25%);
$violet: #31187F;


// FONTS

$main_font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$regular: normal;
$semibold: 600;

// BREAKPOINTS

$phone: (min-width: 576px);
$tablet: (min-width: 768px);
$desktop: (min-width: 992px);
$desktop-hd: (min-width: 1200px);